@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<footer class="py-4" style="background-color:#0e0e0e; color:#ffffff;">
    <div class="max-w-7xl mx-auto px-4 text-center">
        <p class="text-sm footer">
            © Onatrix. All Rights Reserved. Credits to
            <span style="color:#c3a36a;">Themesflat</span>
        </p>
    </div>
</footer>